@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --current-bg: var(--bg-light);
    --current-content-bg: var(--bg-light-content);

    --bg-light: #f6f5f8;
    --bg-light-content: #fff;
    
    --bg-dark: #161618;
    --bg-dark-content: #18171c;

    --text-color-white: #fff;
    --text-color-black: #212529ff;
    --text-color-gray: #444444ff;

    --btn-color-p: #0030ff;
    --btn-color-r: #e30019;
    --btn-gradient: linear-gradient(90deg, rgba(242,29,216,1) 6%, rgba(131,36,222,1) 44%, rgba(112,38,227,1) 56%, rgba(0,48,255,1) 92%);

    --nav-active-bg: #ebebeb;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;;
    font-size: 16px;
    font-weight: 500;
}

/**/
.s-btn {
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}
/**/

/*Loading ---------------------------------- */
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    place-items: center;
    background: #ffffff94;
    z-index: 70;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: box1 1s infinite;
    background-color: #572dd7;
    box-shadow: 30px 0 0 #2b6cf8;
    margin-bottom: 10px;
}

.loader:after {
    animation: box2 1s infinite;
    background-color: #2b6cf8;
    box-shadow: 30px 0 0 #572dd7;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8)
    }

    50% {
        transform: rotate(360deg) scale(1.2)
    }

    100% {
        transform: rotate(720deg) scale(0.8)
    }
}

@keyframes box1 {
    0% {
        box-shadow: 30px 0 0 #2b6cf8;
    }

    50% {
        box-shadow: 0 0 0 #2b6cf8;
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #2b6cf8;
        margin-bottom: 10px;
    }
}

@keyframes box2 {
    0% {
        box-shadow: 30px 0 0 #572dd7;
    }

    50% {
        box-shadow: 0 0 0 #572dd7;
        margin-top: -20px;
        transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #572dd7;
        margin-top: 0;
    }
}
/* -- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    z-index: 20;
    display: none;
}

.main-layout {
    background-color: var(--current-bg);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

nav {
    background-color: var(--current-content-bg);
    height: 100%;
    width: 270px;
    padding: 15px 17px;
    position: relative;
    overflow-y: auto;
    transition: all .3s ease;
}

hr {
    margin: 8px 0;
}

.nav-header {
    height: 40px;
    width: 100%;
    margin-bottom: 25px;
}

.logo-wrapper {
    height: 40px;
    column-gap: 6px;
    padding: 0;
}

.logo-img {
    height: 100%;
}

.logo-text {
    font-size: 37px;
    font-weight: 600;
    color: var(--text-color-gray);
}

.nav-main {
    height: calc(100% - 25px);
}

.nav-contents {
    overflow-y: auto;
}

.search-form {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    width: calc(100% - 30px);
    font-size: 15px;
}

.search-btn {
    border: none;
    outline: none;
    background: none;
    width: 30px;
}

.nav-item-header span {
    text-transform: uppercase;
    color: var(--text-color-gray);
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
    white-space: nowrap;
}

.nav-item-list {
    padding: 0;
    list-style-type: none;
}

.nav-item-list li,
.nav-link {
    white-space: nowrap;
}

.nav-icon {
    fill: var(--text-color-gray);
    width: 30px;
}

.nav-color-icon {
    border-radius: 3px;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    margin-right: 8px;
}

.nav-link {
    padding: 7px 10px;
    margin-bottom: 3px;
    border-radius: 7px;

    font-size: 18px;
}

.nav-link.active, .nav-link:hover {
    background: var(--btn-gradient);
}

.nav-link.active .nav-icon, 
.nav-link:hover .nav-icon {
    fill: #fff;
}

.nav-link.active .nav-link-text, 
.nav-link:hover .nav-link-text {
    font-weight: 700;
    color: #fff;
}

.nav-link.active .task-count, 
.nav-link:hover .task-count {
    background: none;
    color: #fff;
}

.nav-link-box, .add-cate-action {
    color: var(--text-color-gray);
    gap: 13px;
}

.add-cate-action {
    text-decoration: none;
    padding: 3px 9px;
    gap: 14px;
}

.nav-categories {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 205px;
    margin: 0;
}

.add-cate-action:hover {
    color: #5f31fb;
}

.add-cate-action:hover svg {
    fill: #5f31fb;
}

.task-count {
    background-color: var(--nav-active-bg);
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    border-radius: 7px;
    max-width: 35px;
    width: 35px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.nav-bottom {
    height: 90px;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.toggle-nav i {
    font-size: 25px;
    cursor: pointer;
}

.navigation .nav-main .nav-contents {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.navigation.close {
    width: 70px;
    padding: 15px 10px;
}

.navigation.close .nav-main .nav-contents {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.navigation.close .logo-wrapper {
    display: none !important;
}

.navigation.close .nav-categories {
    overflow: hidden !important;
}

.navigation.close .nav-header {
    justify-content: center !important;
}

.navigation.close .nav-user-name,
.navigation.close .nav-bot-setting span {
    display: none;
}

.navigation.close .nav-bottom {
    align-items: center !important;
}

.navigation.close ~ main {
    width: calc(100% - 70px);
}

.nav-bot-user, .nav-bot-setting {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.nav-user-img-box {
    width: 30px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.nav-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-user-name, .nav-bot-setting span {
    white-space: nowrap;
}

main {
    position: relative;
    width: calc(100% - 270px);
    padding: 12px 20px;
    transition: all .3s ease;
    overflow: hidden;
    margin-bottom: 15px;
}

.content-header {
    height: 60px;
}

.content-header h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.add-new-task {
    background: var(--btn-gradient);
    background-size: 180%;
    background-position: center;
    color: #fff;
}

.add-new-task:hover,
.add-new-task:active {
    background-position: left;
    transition: all .3s ease;
}

.add-new-task svg {
    fill: #fff;
}

.main-contents {
    padding-top: 25px;
    overflow-y: auto;
    height: calc(100vh - 87px);
}

.task-content-header {
    border-bottom: 3px solid #ddd;
    padding: 10px 0;
}

.task-content-header h4 {
    position: relative;
    padding: 0;
    margin: 0;
}

.task-content-header h4:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -15px;
    background: #4b29ec;
}

.toggle-task-list {
    cursor: pointer;
}

.task-list {
    overflow: hidden;
}

.task-box {
    width: 273px;
    height: 200px;
    background-color: var(--bg-light-content);
    border-radius: 10px;
}

.task-box.active {
    border: 2px solid #33bce1ab;
}

.task-infomation-wrapper {
    height: 100%;
    width: 300px;
    padding: 15px 17px;
    right: 0;
    top: 0;
    overflow-y: auto;
    transition: .3s ease;
    background: var(--current-content-bg);
    z-index: 22;
}

.task-infomation-wrapper.close {
    right: -200%;
    transition: .3s ease;
}

.task-inf-header h4 {
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.close-task-info {
    cursor: pointer;
}

.close-task-info:hover {
    fill: #5f31fb;
}

.task-inf-box {
    display: grid;
    place-items: center;
}

.task-inf {
    border-radius: 8px;
    background: var(--current-bg);
    width: 100%;
    min-height: 200px;
    margin-top: 25px;
    padding: 10px 15px;
}

.task-inf hr {
    border-width: 2px;
    color: #898787;
    margin: 15px 0;
}

.task-inf-name {
    font-weight: 600;
    font-size: 20px;
}

.task-inf-description {
    font-weight: normal;
    max-height: 72px;
    overflow-x: hidden;
    overflow-y: auto;
}

.task-inf-cate-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 55px;
}

.task-inf-cate-name {
    font-size: 18px;
    font-weight: 500;
}

.task-inf-cate-item span {
    font-weight: normal;
    margin-left: 8px;
}

.sub-task {
    width: 100%;
    overflow: hidden;
}

.add-sub-task {
    cursor: pointer;
}

.add-sub-task:hover {
    fill: #5f31fb;
}

.sub-task-list, .sub-task-item {
    width: 100%;
}

.sub-task-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 250px;
    padding-bottom: 10px;
}

.sub-task-label {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 7px;
    padding: 6px 10px;
    overflow: hidden;
}

.sub-task-label span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    font-weight: normal;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
    position: relative;
}

input[type="checkbox"]::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    font-size: 11px;
    color: #fff;
    font-weight: 900;
    position: absolute;
    top: 1px;
    left: 3px;
    bottom: 1px;
    right: 3px;
}

input[type="checkbox"]:checked {
   -webkit-appearance: none;
   background-color: #03dd03;
   border-radius: 2px;
}

.completed-task-btn {
    background-color: #03dd03;
    width: 200px;
    color: #fff;
}

.delete-task-btn {
    background-color: #e30019;
    color: #fff;
}

.delete-task-btn svg {
    fill: #fff;
}

.completed-task-btn:hover {
    background-color: #00c600;
}

.delete-task-btn:hover {
    background-color: #d70019;
}

.mobile-navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 55px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 20;
}

.mobile-navigation-rgb {
    width: 200%;
    height: 2000%;
    position: absolute;
    bottom: -1000%;
    left: -50%;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    animation: spin 1.5s infinite linear;
    z-index: -1;
}

@keyframe spin {
    100% {
        transform: rotate(360deg)
    }
}

.mb-navigation {
    background: #fff;
    width: 100%;
    height: calc(100% - 1px);
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.mb-nav-icon-box {
    display: grid;
    place-items: center;
    color: #000;
}

.mb-nav-icon {
    font-size: 28px;
}

.mb-nav-icon.active {
    color: #2e2cf3;
}

.add-task-floating {
    position: fixed;
    bottom: 70px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 35px;
    aspect-ratio: 1;
    background: var(--btn-gradient);
    display: none;
}

.add-task-floating:hover {
    background-size: 300%;
    background-position: -70%;
}

.add-task-floating svg {
    fill: #fff;
}

/* For mobile */
@media screen and (max-width: 767px) {
    * {
        font-size: 15px;
    }
    
    .navigation {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: -200%;
        z-index: 22;
    }

    .navigation.show {
        left: 0;
    }

    .nav-categories {
        max-height: 200px;
    }

    main {
        width: 100% !important;
        padding: 10px;
        margin-bottom: 60px;
    }

    .add-new-task {
        display: none;
    }

    .main-contents {
        height: calc(100vh - 130px);
    }

    .sub-task-list {
        max-height: 265px;
    }

    .mobile-navigation {
        display: block;
    }

    .add-task-floating {
        display: block;
    }
}

/* For tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        font-size: 15px;
    }

    .nav-categories {
        max-height: 200px;
    }

    .sub-task-list {
        max-height: 265px;
    }
}

@media screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #dbdbdb;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #ccc;
    }
}